fieldset, form, label, input, select {display: inline;}
form {
    padding: 5px 0 15px 15px;
    font-weight: bold;
}

.year-calendar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* tweak where items line
        up on the row
        valid values are: flex-start,
        flex-end, space-between,
        space-around, stretch */
    align-content: space-around;
}

table {
    border-collapse: collapse;
    margin: 20px 10px;
}
table caption {
    text-align: right;
    font-weight: bold;
    padding: 2px 5px;
}
th {
    background-color: #9cf;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    border-bottom: 1px solid #333;
}
table td {
    text-align: right;
    padding: 0 5px;
}
td:nth-last-child(-n+2) {
    background-color: #ccc;
}
td[rel="empty"] {
    background-color: #fff;
}
.holiday {
    background-color: #ceb59d;
}

.single-month-calendar {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* tweak where items line
        up on the row
        valid values are: flex-start,
        flex-end, space-between,
        space-around, stretch */
    align-content: space-around;
}
.single-month-calendar table {
    width: 560px;
    height: 400px;
    border-collapse: none;
    border: 1px solid #000;
}
.single-month-calendar td {
    border: 1px solid #000;
    width: 80px;
    text-align: left;
}
.single-month-calendar caption {
    font-size: 3em;
    line-height: 1.5em;
}

/* Print styles */
@media print {
    /* Force webkit to show background colours */
    * {-webkit-print-color-adjust:exact; print-color-adjust:exact;}
    /* Hide "noprint" elements */
    .noprint {display: none;}
    /* Shrink slightly to fit on one page */
    html, body, .year-calendar, table, main {margin: 0; padding:0;}
    table {margin-top: 10px;}
    .single-month-calendar table {height: 600px;}
}
