* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.noprint {
    display: none;
}

.month-calendar {
    font-size: 90%;
}

.month-calendar .month {
    padding-top: 0;
}

.single-month-calendar .month-calendar {
    height: 600px;
}
